# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

3rdparty/gflags-2.2.0/.vs/

msvc/bin/
msvc/libmpic.VC.VC.opendb
msvc/libmpic.VC.db

libmpic.so.*
examples/daemon/daemon_test
